body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  /*background-color: white;*/
}

.form {
  max-width:1200px;
  /*padding: 1px 15px 15px 15px;*/
  margin: 0 auto;
  text-align:center;
}
.form .form-heading,
.form .checkbox {
  margin-bottom: 10px;
}
.form .checkbox {
  font-weight: normal;
}
.form .form-control {
  position: relative;
  font-size: 14px;
  height: auto;
  padding: 10px;
  -o-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    margin-bottom: 10px;
}
.form .form-control:focus {
  z-index: 2;
}
.form input[type="text"] {
  
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form .btn-width {
    width:90%;
    /*margin-left:5%;*/
    margin:20px 5%;
    padding:15px 0px;

}
.form .btn-height {
    padding:20px 0px;
}
.extra-padding {
    padding: 45px 10px;
}
body {
    padding:0px;
}
body .container {
    padding:0px;
    width:100%;
}
.page-nav {
    background-color:black;
    color:white;
    text-align:center;
}
.btn-back {
    position:absolute;
    left:10px;
}
.btn-back > a,
.btn-back > a:hover,
.btn-back > a:focus,
.btn-back > a:visited  {
    text-decoration:none;
    color:white;
}
.control-container {
    padding: 15px 10px;
}
.control-container > div{
    padding-bottom:15px;
    padding-top:15px;
}
.form label {
    font-weight:lighter;
    color:#333;
}
div.separator {
    border-bottom:dotted 1px;
    border-top:dotted 1px;
    padding:0px;
}

div.separator .alert {
    margin:5px 0px;
}
.control-container.absolute-center {
  width: 100%;
  height: 200px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  padding:0px 10%;
}
.lightbox {
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    z-index:100;
    padding:10%;

    -webkit-animation: bounce 800ms ease-out;
	-moz-animation: bounce 800ms ease-out;
	-o-animation: bounce 800ms ease-out;
	animation: bounce 800ms ease-out;

}

.lightbox .ad {
    width:100%;
    height:100%;
}
.lightbox .close {
    position:absolute;
    right:5%;
    top:5%;

}
/*.control-container label {
    font-size:16px;
}*/
@-webkit-keyframes bounce {
  0% {
	-webkit-transform:translateY(-100%);
    opacity: 0;
  }
  5% {
  	-webkit-transform:translateY(-25%);
    opacity: 0;
  }
  20% {
  	-webkit-transform:translateY(0%);
    /*padding-bottom: 6px;*/
  }
  50% {
  	-webkit-transform:translateY(-30%);
  }
  70% {
  	-webkit-transform:translateY(0%);
    /*padding-bottom: 7px;*/
  }
  85% {
  	-o-transform:translateY(-10%);
  }
  100% {
  	-webkit-transform:translateY(0);
  	/*padding-bottom: 9px;*/
    opacity: 1;
  }
}

/* Mozilla Firefox 15 below */
@-moz-keyframes bounce {
  0% {
	-moz-transform:translateY(-100%);
    opacity: 0;
  }
  5% {
  	-moz-transform:translateY(-25%);
    opacity: 0;
  }
  20% {
  	-moz-transform:translateY(0%);
    /*padding-bottom: 6px;*/
  }
  50% {
  	-moz-transform:translateY(-30%);
  }
  70% {
  	-moz-transform:translateY(0%);
    /*padding-bottom: 7px;*/
  }
  90% {
  	-moz-transform:translateY(-10%);
  }
  100% {
  	-moz-transform:translateY(0);
  	/*padding-bottom: 9px;*/
    opacity: 1;
  }
}

/* Opera 12.0 */
@-o-keyframes bounce {
  0% {
	-o-transform:translateY(-100%);
    opacity: 0;
  }
  5% {
  	-o-transform:translateY(-25%);
    opacity: 0;
  }
  20% {
  	-o-transform:translateY(0%);
    /*padding-bottom: 6px;*/
  }
  50% {
  	-o-transform:translateY(-30%);
  }
  70% {
  	-o-transform:translateY(0%);
    /*padding-bottom: 7px;*/
  }
  90% {
  	-o-transform:translateY(-10%);
  }
  100% {
  	-o-transform:translateY(0);
  	/*padding-bottom: 9px;*/
    opacity: 1;
  }
}

/* W3, Opera 12+, Firefox 16+ */
@keyframes bounce {
  0% {
	transform:translateY(-100%);
    opacity: 0;
  }
  5% {
  	transform:translateY(-25%);
    opacity: 0;
  }
  20% {
  	transform:translateY(0%);
    /*padding-bottom: 6px;*/
  }
  50% {
  	transform:translateY(-30%);
  }
  70% {
  	transform:translateY(0%);
    /*padding-bottom: 7px;*/
  }
  90% {
  	transform:translateY(-10%);
  }
  100% {
  	transform:translateY(0);
  	/*padding-bottom: 9px;*/
    opacity: 1;
  }
}